{#
Allows to list all movies available. It allows to add/delete movies.
Required :
- movies : list of all movies available (as Movie).
#}

{% extends "admin.html.twig" %}

{% block body %}

    <h1 class="title">{{ 'back.maze.movie.list.title'|trans }}</h1>

    <div id="maze-item-list">

        <nav class="level">
            <div class="level-left">
                <span>{{ 'back.maze.movie.list.count'|transchoice(movies|length) }}</span>
            </div>
            <div class="level-right">
                <div class="column">
                    <a class="button is-primary" href="{{ path('bo_maze_movie_new') }}">{{ 'global.add'|trans }}</a>
                    <span
                        id="build-credits-button"
                        class="button is-primary"
                        data-build-credits-url="{{ path('bo_maze_movie_casting_build') }}"
                        data-progress-url="{{ path('bo_maze_movie_casting_progress') }}"
                    >
                        {{ 'back.maze.movie.list.build_casting'|trans }}
                    </span>
                </div>
            </div>
        </nav>

        {# Display all movies found #}
        <table id="maze-item-list" class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>{{ 'back.maze.movie.list.column.title'|trans }}</th>
                    <th>{{ 'back.maze.movie.list.column.id'|trans }}</th>
                    <th>{{ 'back.maze.movie.list.column.casting'|trans }}</th>
                    <th>{{ 'global.detail'|trans }}</th>
                    <th>{{ 'global.delete'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.tmdbId }}</td>
                    <td>
                        {% include 'back/maze/movie/_casting_status.html.twig' with {'status': movie.status} %}
                    </td>
                    <td>
                        <span
                            class="icon has-text-info button show-maze-item-detail-button"
                            data-detail-url="{{ path('bo_maze_movie_view', { 'movie': movie.tmdbId }) }}"
                        >
                            <i class="fas fa-search"></i>
                        </span>
                    </td>
                    <td>
                        <a href="{{ path('bo_maze_movie_delete', { 'movie': movie.tmdbId }) }}" onclick="return confirm('{{ 'global.delete.confirm'|trans }}');" >
                            <span class="icon has-text-danger button">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
