{#
Allows to list all movies available. It allows to add/delete movies.
Required :
- pager : list of all movies available (as Pagerfanta).
#}

{% extends "admin.html.twig" %}

{% block body %}

    <div id="maze-item-list">

        {% embed 'back/form/_grid.html.twig' with {'pager': pager, 'title': 'back.maze.movie.list.title'|trans} %}

            {% block action %}
                <a class="button is-primary" href="{{ path('bo_maze_movie_new') }}">{{ 'global.add'|trans }}</a>
                <span
                    id="build-credits-button"
                    class="button is-primary"
                    data-build-credits-url="{{ path('bo_maze_movie_casting_build') }}"
                    data-progress-url="{{ path('bo_maze_movie_casting_progress') }}"
                >
                    {{ 'back.maze.movie.list.build_casting'|trans }}
                </span>
            {% endblock %}

            {% block grid_result %}

                {% embed 'back/form/_grid_result.html.twig' with {'pager': pager} %}

                    {% block grid_header %}
                        <th>{{ 'back.maze.movie.list.column.title'|trans }}</th>
                        <th>{{ 'back.maze.movie.list.column.id'|trans }}</th>
                        <th>{{ 'back.maze.movie.list.column.casting'|trans }}</th>
                        <th>{{ 'global.detail'|trans }}</th>
                        <th>{{ 'global.delete'|trans }}</th>
                    {% endblock %}

                    {% block grid_body %}
                        {% for movie in pager.currentPageResults %}
                            <tr>
                                <td>{{ movie.title }}</td>
                                <td>{{ movie.tmdbId }}</td>
                                <td>
                                    {% include 'back/maze/movie/_casting_status.html.twig' with {'status': movie.status} %}
                                </td>
                                <td>
                                    <span
                                        class="icon has-text-info button show-maze-item-detail-button"
                                        data-detail-url="{{ path('bo_maze_movie_view', { 'movie': movie.tmdbId }) }}"
                                    >
                                        <i class="fas fa-search"></i>
                                    </span>
                                </td>
                                <td>
                                    <a href="{{ path('bo_maze_movie_delete', { 'movie': movie.tmdbId }) }}" onclick="return confirm('{{ 'global.delete.confirm'|trans }}');" >
                                        <span class="icon has-text-danger button">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endblock %}

                {% endembed %}

            {% endblock %}

        {% endembed %}

    </div>

{% endblock %}
