{#
Allows to view movie information.
Required :
- movie : movie we want to display information (as Movie).
#}

<div class="movie-details">

    <div>
        <p><strong>Titre</strong> : {{ movie.title }}</p>
        <p><strong>Date de sortie</strong> : {{ movie.releaseDate|date('d-m-Y') }}</p>
        <p><img src="https://image.tmdb.org/t/p/w185/{{ movie.pictureUrl }}" alt="-" /></p>
        <p><strong>Identifiant TMDB</strong> : {{ movie.tmdbId }}</p>
    </div>

    {% if (movie.actors|length > 0) %}
    <div>
        <p><strong>Casting</strong> :</p>
        <ul>
        {% for actor in movie.actors %}
            <li>{{ actor.fullname }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

</div>
