{#
Allows to display statistics about specific quiz.
Required :
- quiz : quiz we want to display statisctics.
- responseInfos : statisctics about specified quiz.
- userInfos : statisctics about specified quiz.
#}

{% extends "admin.html.twig" %}

{% block body %}

    <h1 class="title">{{ 'back.quiz.statistics.quiz_statistics'|trans }}</h1>

    <h2 class="subtitle">{{ quiz.name }}</h2>

    <div id="statistics">

        <div class="tabs is-boxed is-centered">
            <ul>
                <li class="tab-item" data-panel="statistics-response"><a>{{ 'back.quiz.statistics.response'|trans }}</a></li>
                <li class="tab-item" data-panel="statistics-user"><a>{{ 'back.quiz.statistics.player'|trans }}</a></li>
            </ul>
        </div>

        <div id="statistics-response" class="tab-panel is-hidden">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>{{ 'back.quiz.statistics.response'|trans }}</th>
                        <th>{{ 'back.quiz.statistics.frequency'|trans }}</th>
                        <th>{{ 'back.quiz.statistics.last_session'|trans }}</th>
                        <th>{{ 'global.detail'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for responseInfo in responseInfos %}
                    <tr>
                        <td>{{ responseInfo['title'] }}</td>
                        <td>{{ responseInfo['foundCount'] }}</td>
                        <td>{{ responseInfo['lastDate']|date("d/m/Y") }}</td>
                        <td>
                            <span
                                class="icon has-text-info button show-statistics-detail-button"
                                data-statistics-url="{{ path('bo_quiz_statistics_response', {'response': responseInfo['id']}) }}"
                            >
                                <i class="fas fa-search"></i>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="statistics-user" class="tab-panel is-hidden">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>{{ 'back.quiz.statistics.player'|trans }}</th>
                        <th>{{ 'back.quiz.statistics.response_count'|trans }}</th>
                        <th>{{ 'back.quiz.statistics.last_session'|trans }}</th>
                        <th>{{ 'global.detail'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for userInfo in userInfos %}
                    <tr>
                        <td>{{ userInfo['firstname'] }} {{ userInfo['lastname'] }}</td>
                        <td>{{ userInfo['responseCount'] }}</td>
                        <td>{{ userInfo['lastDate']|date("d/m/Y") }}</td>
                        <td>
                            <span
                                class="icon has-text-info button show-statistics-detail-button"
                                data-statistics-url="{{ path('bo_quiz_statistics_user_response', {'user': userInfo['id'], 'quiz': quiz.id}) }}"
                            >
                                <i class="fas fa-search"></i>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
