{#
Allows to display statistics about specific quiz.
Required :
- quiz : quiz we want to display statisctics.
- responseInfos : statisctics about specified quiz.
- userInfos : statisctics about specified quiz.
#}

{% extends "admin.html.twig" %}

{% block body %}

    <h1 class="title">Statistiques du quiz</h1>

    <h2 class="subtitle">{{ quiz.name }}</h2>

    <div id="statistics-tabs">

        <div class="tabs is-boxed is-centered">
            <ul>
                <li class="tab-item" data-panel="statistics-response"><a>Réponses</a></li>
                <li class="tab-item" data-panel="statistics-user"><a>Joueurs</a></li>
            </ul>
        </div>

        <div id="statistics-response" class="tab-panel is-hidden">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Réponse</th>
                        <th>Fréquence</th>
                        <th>Dernière session</th>
                        <th>Détail</th>
                    </tr>
                </thead>
                <tbody>
                {% for responseInfo in responseInfos %}
                    <tr>
                        <td>{{ responseInfo['title'] }}</td>
                        <td>{{ responseInfo['foundCount'] }}</td>
                        <td>{{ responseInfo['lastDate']|date("d/m/Y") }}</td>
                        <td>
                            <span
                                class="icon has-text-info button show-statistics-detail-button"
                                data-url="{{ path('bo_quiz_statistics_response', {'response': responseInfo['id']}) }}"
                            >
                                <i class="fas fa-search"></i>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="statistics-user" class="tab-panel is-hidden">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Joueur</th>
                        <th>Nb. réponses trouvées</th>
                        <th>Dernière session de jeu</th>
                        <th>Détail</th>
                    </tr>
                </thead>
                <tbody>
                {% for userInfo in userInfos %}
                    <tr>
                        <td>{{ userInfo['firstname'] }} {{ userInfo['lastname'] }}</td>
                        <td>{{ userInfo['responseCount'] }}</td>
                        <td>{{ userInfo['lastDate']|date("d/m/Y") }}</td>
                        <td>
                            <span
                                class="icon has-text-info button show-statistics-detail-button"
                                data-url="{{ path('bo_quiz_statistics_user_response', {'user': userInfo['id'], 'quiz': quiz.id}) }}"
                            >
                                <i class="fas fa-search"></i>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    {# Allows to display detail for statistics using Ajax #}
    <div id="quiz-statistics-detail-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <div class="modal-card-body">
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

{% endblock %}
