{#
Allows to display statistics about specific player.
Required :
- user : player we want to display statisctics (as User).
- quizInfos : statisctics about specified user.
#}

{% extends "admin.html.twig" %}

{% block body %}

    <h1 class="title">Statistiques du joueur</h1>

    <h2 class="subtitle">{{ user.firstname }} {{ user.lastname }}</h2>

    <div id="statistics">

        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Quiz</th>
                    <th>Nb. réponses trouvées</th>
                    <th>Dernière session de jeu</th>
                    <th>Détail</th>
                </tr>
            </thead>
            <tbody>
            {% for quizInfo in quizInfos %}
                <tr>
                    <td>{{ quizInfo['name'] }}</td>
                    <td>{{ quizInfo['responseCount'] }}</td>
                    <td>{{ quizInfo['lastDate']|date("d/m/Y") }}</td>
                    <td>
                        <span
                            class="icon has-text-info button show-statistics-detail-button"
                            data-statistics-url="{{ path('bo_quiz_statistics_user_response', {'user': user.id, 'quiz': quizInfo['id']}) }}"
                        >
                            <i class="fas fa-search"></i>
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
