{#
Display all available quiz.
Required :
- quizs : list of quiz to display (as Quiz)
#}

{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="Quiz en image : trouvez les films ou séries auxquels font références les objets cachés dans l'image !"/>
{% endblock %}

{% block title %}{{ 'front.quiz.home.title'|trans }}{% endblock %}

{% block body %}

    <div id="quiz-home" class="center">

        <h1>{{ 'front.quiz.home.title'|trans }}</h1>

        <section>

            <p>{{ 'front.quiz.home.content'|trans }}</p>
            {% if (not app.user) %}
                <p>{{ 'front.quiz.home.content_anonymous'|trans({'%link_start%': '<a href="'~path('fo_account_new')~'">', '%link_end%': '</a>'})|raw }}</p>
            {% endif %}

            <div id="quiz-list">
                {% for quiz in quizs %}
                <figure class="quiz-item">
                    <a href="{{ path('fo_quiz_play', { 'slug': quiz.slug }) }}">
                        <img src="{{ quiz.thumbnailUrl }}" alt="{{ quiz.name }}"/>
                        <figcaption class="quiz-infos">
                            <h2>{{ quiz.name }}</h2>
                            <p>{{ 'front.quiz.home.find'|trans({'%count%': quiz.responses|length}) }}</p>
                        </figcaption>
                    </a>
                </figure>
                {% endfor %}
            </div>

        </section>

    </div>

{% endblock %}
