{#
Display all available quiz.
Required :
- quizs : list of quiz to display (as Quiz)
#}

{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="Quiz en image : trouvez les films ou séries auxquels font références les objets cachés dans l'image !"/>
{% endblock %}

{% block title %}Quiz objets cachés{% endblock %}

{% block body %}

    <div id="quiz-home" class="center">

        <h1>Quiz objets cachés</h1>

        <section>

            <p>Retrouvez dans les images ci-dessous, des objets issus de films et donnez le titre du film correspondant.</p>
            {% if (not app.user) %}
                <p>Pour sauvegarder vos réponses, pensez à vous créer un compte <a href="{{ path('fo_account_new') }}">ici</a>.</p>
            {% endif %}

            <div id="quiz-list">
                {% for quiz in quizs %}
                <figure class="quiz-item">
                    <a href="{{ path('fo_quiz_play', { 'quiz': quiz.id }) }}">
                        <img src="{{ quiz.thumbnailUrl }}" alt="{{ quiz.name }}"/>
                        <figcaption class="quiz-infos">
                            <h2>{{ quiz.name }}</h2>
                            <p>Trouvez les {{ quiz.responses|length }} objets cachés dans l'image.</p>
                        </figcaption>
                    </a>
                </figure>
                {% endfor %}
            </div>

        </section>

    </div>

{% endblock %}
