{#
Display quiz.
Required :
- quiz : quiz to display.
- userResponses (optionnal) : list of response found by current logged user.
#}

{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="Quiz objets cachés : {{ quiz.name }}, trouvez les {{ quiz.responses|length }} références cachés dans cette image !"/>
{% endblock %}

{% block title %}{% endblock %}

{% block body %}

    <div class="center">

        <h1>{{ quiz.name }}</h1>

        <div
            id="quiz-play"
            data-quiz-id="{{ quiz.id }}"
            data-picture-width="{{ quiz.pictureWidth }}"
            data-picture-height="{{ quiz.pictureHeight }}"
            data-response-count="{{ quiz.responses|length }}"
            data-response-url="{{ path('fo_quiz_check_response') }}"
            data-trick-url="{{ path('fo_quiz_trick') }}"
            data-resolve-url="{{ path('fo_quiz_resolved', {'quiz': quiz.id}) }}"
            {% if (quiz.responses|length == userResponses|length) %}
                data-resolved
            {% endif %}
        >

            <div id="main-wrapper">

                <div id="action-wrapper">
                    {% if (quiz.responses|length == userResponses|length) %}
                        <a href="{{ path('fo_quiz_replay', {'quiz': quiz.id}) }}" class="button">Rejouer</a>
                    {% else %}
                        <input type="text" id="response-input" name="response-input" placeholder="Saisissez votre réponse" />
                        <span id="response-submit" class="button" title="Soumettre la réponse"><i class="fas fa-check"></i></span>
                        {% if (quiz.displayTrick) %}
                            <span id="quiz-trick" class="button" title="Demander un indice"><i class="fas fa-question"></i></span>
                        {% endif %}
                        <input type="hidden" id="quiz-response-count" name="quiz-response-count" value="{{ quiz.responses|length }}" />
                    {% endif %}
                </div>

                <div id="picture-wrapper">
                    <img
                        id="picture-quiz"
                        src="{{ asset(quiz.pictureUrl) }}"
                        data-zoom="{{ asset(quiz.pictureUrl) }}"
                        alt="{{ quiz.name }}"
                    />
                </div>

            </div>

            <div id="data-wrapper">
                <div id="scroll-wrapper">
                    <ul id="quiz-responses">
                        {% for userResponse in userResponses %}
                            <li
                                data-response
                                data-id="{{ userResponse.response.id }}"
                                data-position-x="{{ userResponse.response.positionX }}"
                                data-position-y="{{ userResponse.response.positionY }}"
                                data-width="{{ userResponse.response.width }}"
                                data-height="{{ userResponse.response.height }}"
                            >{{ userResponse.response.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="quiz-info">
                    <div>
                        <label>Réponses trouvées : </label><span id="quiz-response-count">{{ userResponses|length }}</span> / <span>{{ quiz.responses|length }}</span>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
