{#
Display quiz.
Required :
- quiz : quiz to display.
- userResponses (optionnal) : list of response found by current logged user.
#}

{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="Quiz objets cachés : {{ quiz.name }}, trouvez les {{ quiz.responses|length }} références cachés dans cette image !"/>
{% endblock %}

{% block title %}{% endblock %}

{% block body %}

    <div class="center">

        <h1>{{ quiz.name }}</h1>

        <div id="quiz-play">

            <div id="main-wrapper">

                <div id="action-wrapper">
                    <input type="text" id="response-input" name="response-input" placeholder="Saisissez votre réponse" />
                    <span id="response-submit" class="button" title="Soumettre la réponse"><i class="fas fa-check"></i></span>
                    {% if (quiz.displayTrick) %}
                        <span id="quiz-trick" class="button" title="Demander un indice"><i class="fas fa-question"></i></span>
                    {% endif %}
                    <input type="hidden" id="quiz-id" name="quiz-id" value="{{ quiz.id }}" />
                    <input type="hidden" id="quiz-response-count" name="quiz-response-count" value="{{ quiz.responses|length }}" />
                    <input type="hidden" id="quiz-response-display" name="quiz-response-display" value="{{ quiz.displayResponse ? '1' : '0' }}" />
                </div>

                <div id="picture-wrapper">
                    <img src="{{ asset(quiz.pictureUrl) }}" alt="" />
                    {% if (quiz.displayResponse) %}
                        {% for userResponse in userResponses %}
                            <div
                                id="response-location-{{ userResponse.response.id }}"
                                class="response-position response-size-{{ userResponse.response.size }}"
                                style="left:{{ userResponse.response.positionX }}px;top:{{ userResponse.response.positionY }}px;" data-id="{{ userResponse.response.id }}"
                            >
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

            </div>

            <div id="data-wrapper">
                <ul id="quiz-responses">
                    {% for userResponse in userResponses %}
                        <li id="response-value-{{ userResponse.response.id }}">{{ userResponse.response.title }}</li>
                    {% endfor %}
                </ul>
                <div id="quiz-info">
                    <div>
                        <label>Réponses trouvées : </label><span id="quiz-response-count">{{ userResponses|length }}</span> / <span>{{ quiz.responses|length }}</span>
                    </div>
                    <div>
                        <label>Indices utilisés : </label><span id="quiz-trick-count">0</span>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div id="popup" class="popup hide"></div>

{% endblock %}
