{% extends "base.html.twig" %}

{% block title %}Quiz casting ou filmographie, trouvez les liens entre les acteurs ou les films.{% endblock %}

{% block body %}

    <div id="maze-home" class="center">

        <h1>{{ 'front.maze.home.title'|trans }}</h1>

        {{ 'front.maze.home.content'|trans|raw }}

        <div class="maze-selection-wrapper card center">
            <a href="{{ path('fo_maze_actor') }}" class="maze-selection-item">
                <span class="is-large"><i class="fas fa-3x fa-film"></i></span>
                <span>{{ 'front.maze.quiz_filmography'|trans }}</span>
            </a>
            <a href="{{ path('fo_maze_movie') }}" class="maze-selection-item">
                <span class="is-large"><i class="fas fa-3x fa-users"></i></span>
                <span>{{ 'front.maze.quiz_casting'|trans }}</span>
            </a>
        </div>

        {% if not app.user %}
            <p>{{ 'front.maze.home.content_anonymous'|trans({'%link_start%': '<a href="'~path('fo_account_new')~'">', '%link_end%': '</a>'})|raw }}</p>
        {% endif %}

    </div>

{% endblock %}
