{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="Quiz casting : trouvez les acteurs/actrices communs entre les films !"/>
{% endblock %}

{% block title %}{{ 'front.maze.quiz_casting'|trans }}{% endblock %}

{% block body %}

    <div id="maze-casting" class="center">

        <h1>{{ 'front.maze.quiz_casting'|trans }}</h1>

        {{ 'front.maze.movie.home.content'|trans|raw }}

        <form action="{{ path('fo_maze_movie_play') }}" method="GET" class="card">

            <div class="field">
                <label for="count">{{ 'front.maze.play.play_with'|trans }}</label>
                <div class="control select-wrapper">
                    <select id="count" name="count">
                    {% for count in range(3, 9) %}
                        <option
                            value="{{ count }}"
                            {% if (count == 5) %}selected="selected"{% endif %}
                        >
                            {{ 'front.maze.movie.home.movie_count'|trans({'%count%': count}) }}
                        </option>
                    {% endfor %}
                    </select>
                </div>
            </div>

            <div class="field">
                <label for="level">{{ 'front.maze.play.level'|trans }}</label>
                <div class="control select-wrapper">
                    <select id="level" name="level">
                        <option value="0">{{ 'front.maze.play.level.easy'|trans }}</option>
                        <option value="1" selected="selected">{{ 'front.maze.play.level.medium'|trans }}</option>
                        <option value="2">{{ 'front.maze.play.level.hard'|trans }}</option>
                    </select>
                </div>
            </div>
            <p class="note">{{ 'front.maze.movie.level.comment'|trans|raw }}</p>

            <div class="form-buttons">
                <input type="submit" class="button" value="{{ 'global.play'|trans }}"/>
            </div>

        </form>

        {% if app.user %}
            <div class="card">
                <p class="margin-bottom">{{ 'front.maze.movie.home.max_path_content'|trans }}</p>
                <a href="{{ path('fo_maze_movie_select_max_path') }}" class="button">{{ 'front.maze.play.select_movie'|trans }}</a>
            </div>
            <div class="card">
                <p class="margin-bottom">{{ 'front.maze.movie.home.min_path_content'|trans }}</p>
                <a href="{{ path('fo_maze_movie_select_min_path') }}" class="button">{{ 'front.maze.play.min_path'|trans }}</a>
            </div>
        {% else %}
            <p class="margin-top">{{ 'front.maze.actor.home.content_anonymous'|trans({'%link_start%': '<a href="'~path('fo_account_new')~'">', '%link_end%': '</a>'})|raw }}</p>
        {% endif %}

    </div>

{% endblock %}
