{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="Quiz casting : trouvez les acteurs/actrices communs entre les films !"/>
{% endblock %}

{% block title %}Quiz casting{% endblock %}

{% block body %}

    <h1>Quiz casting</h1>

    <p>Le but du jeu est d'avancer de film en film en trouvant un acteur commun. Ce quiz se base sur une sélection d'une centaine de films.</p>
    <p>Bonne chance !</p>

    <form action="{{ path('fo_maze_movie_play') }}" method="POST">

        <label for="count">Jouer avec : </label>
        <select id="count" name="count">
            <option value="3">3 films</option>
            <option value="4">4 films</option>
            <option value="5" selected="selected">5 films</option>
            <option value="6">6 films</option>
            <option value="7">7 films</option>
            <option value="8">8 films</option>
            <option value="9">9 films</option>
        </select>

        <label for="level">Difficulté : </label>
        <select id="level" name="level">
            <option value="0">Facile</option>
            <option value="1" selected="selected">Moyen</option>
            <option value="2">Difficile</option>
        </select>
        <p><strong>NOTE : </strong>La difficulté permet de réduire la sélection d'acteurs dans la rubrique "Besoin d'aide".</p>

        <input type="submit" value="Jouer"/>

    </form>

    {% if app.user %}
        <p>Si vous le souhaitez, vous pouvez également jouer avec votre propre sélection de films parmi ceux proposés sur ce site.</p>
        <a href="{{ path('fo_maze_movie_select_max_path') }}" class="button">Choisir mes films</a>
        <p>Si vous êtes curieux, vous pouvez aussi découvrir "le plus court chemin" reliant 2 films.</p>
        <a href="{{ path('fo_maze_movie_select_min_path') }}" class="button">Jouer sur le plus court chemin</a>
    {% else %}
        <p>Pour accéder à plus de fonctionnalités, pensez à vous créer un compte <a href="{{ path('fo_account_new') }}">ici</a>.</p>
    {% endif %}

{% endblock %}
