{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="Quiz casting : trouvez les acteurs/actrices communs entre les films !"/>
{% endblock %}

{% block title %}Quiz casting{% endblock %}

{% block body %}

    <div id="maze-casting" class="center">

        <h1>Quiz casting</h1>

        <p>Le but du jeu est d'avancer de film en film en trouvant un acteur commun.</p>
        <p class="margin-bottom">Ce quiz se base sur une sélection d'une centaine de films.</p>

        <p><strong>Bonne chance !</strong></p>

        <form action="{{ path('fo_maze_movie_play') }}" method="POST" class="card">

            <div class="field">
                <label for="count">Jouer avec</label>
                <div class="control select-wrapper">
                    <select id="count" name="count">
                        <option value="3">3 films</option>
                        <option value="4">4 films</option>
                        <option value="5" selected="selected">5 films</option>
                        <option value="6">6 films</option>
                        <option value="7">7 films</option>
                        <option value="8">8 films</option>
                        <option value="9">9 films</option>
                    </select>
                </div>
            </div>

            <div class="field">
                <label for="level">Difficulté</label>
                <div class="control select-wrapper">
                    <select id="level" name="level">
                        <option value="0">Facile</option>
                        <option value="1" selected="selected">Moyen</option>
                        <option value="2">Difficile</option>
                    </select>
                </div>
            </div>
            <p class="note"><strong>NOTE : </strong>Le degré de difficulté permet de modifier le nombre d'acteurs accessibles dans la rubrique "Besoin d'aide".</p>

            <div class="form-buttons">
                <input type="submit" class="button" value="Jouer"/>
            </div>

        </form>

        {% if app.user %}
            <div class="card">
                <p class="margin-bottom">Si vous le souhaitez, vous pouvez également jouer avec votre propre sélection de films parmi ceux proposés sur ce site.</p>
                <a href="{{ path('fo_maze_movie_select_max_path') }}" class="button">Choisir mes films</a>
            </div>
            <div class="card">
                <p class="margin-bottom">Si vous êtes curieux, vous pouvez aussi découvrir "le plus court chemin" reliant 2 films.</p>
                <a href="{{ path('fo_maze_movie_select_min_path') }}" class="button">Jouer sur le plus court chemin</a>
            </div>
        {% else %}
            <p class="margin-top">Pour accéder à plus de fonctionnalités, pensez à vous créer un compte <a href="{{ path('fo_account_new') }}">ici</a>.</p>
        {% endif %}

    </div>

{% endblock %}
