{#
Allows to display list of movies for selection => user can select 2 movies for min path game...
Required :
- MazeItem[] movies : list of movies to select.
#}

{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="Quiz casting : plus court chemin entre 2 films !"/>
{% endblock %}

{% block title %}{{ 'front.maze.movie.min_path.title'|trans }}{% endblock %}

{% block body %}

    <h1>{{ 'front.maze.movie.min_path.title'|trans }}</h1>

    <div id="maze-min-path" class="maze-item-path-selection">

        <div class="card center">

            {{ 'front.maze.movie.min_path.content'|trans|raw }}

            <form id="path-selection-form" action="{{ path('fo_maze_movie_play_min_path') }}" method="POST">

                <input type="hidden" id="startTmdbId" name="startTmdbId" />
                <input type="hidden" id="endTmdbId" name="endTmdbId" />

                <div class="field">
                    <label for="level">{{ 'front.maze.play.level'|trans }}</label>
                    <div class="control select-wrapper">
                        <select id="level" name="level">
                            <option value="0">{{ 'front.maze.play.level.easy'|trans }}</option>
                            <option value="1" selected="selected">{{ 'front.maze.play.level.medium'|trans }}</option>
                            <option value="2">{{ 'front.maze.play.level.hard'|trans }}</option>
                        </select>
                    </div>
                </div>

                <p class="note">{{ 'front.maze.movie.level.comment'|trans|raw }}</p>

                <div class="form-buttons">
                    <input id="selection-submit" type="submit" class="button" disabled value="{{ 'global.play'|trans }}"/>
                </div>

            </form>

        </div>

        {%
            include 'front/maze/_selection.html.twig'
            with {
                'mazeItems': movies,
                'selectionId': 'selection-wrapper',
            }
        %}

    </div>

{% endblock %}
