{#
Allows to display list of movies we want to find common credit actor => path of movies.
Required :
- moviePath : list of movies linked by common credit actors (as Movie).
- helpActorList : list of actors used to help user to find path (as Actor).
#}

{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="Quiz casting : avancez de film en film en trouvant les acteurs/actrices communs !"/>
{% endblock %}

{% block title %}Quiz casting{% endblock %}

{% block body %}

    <div id="movie-maze-play">

        <h1>Quiz casting</h1>

        <label class="f-n15">Nombre de coups : </label>
        <span id="response-count">0</span>

        <label for="movie-maze-response">Saisissez un nom d'acteur : </label>
        <input type="text" id="movie-maze-response" name="movie-maze-response" />

        <input type="button" id="movie-maze-answer" name="movie-maze-answer" class="button" value="Envoyer" />
        <input type="button" id="movie-maze-help" name="movie-maze-help" class="button" value="Joker" />

        <section class="movie-maze-scroll-wrapper">
            {% for movie in moviePath %}
            <div data-order="{{ loop.index }}" data-tmdb-id="{{ movie.tmdbId }}">
                <img src="{{ movie.pictureUrl|tmdbPictureUrl }}" alt="{{ movie.title|raw }}" />
                <span>{{ movie.title }}</span>
            </div>
            {% endfor %}
        </section>

        <h2>Besoin d'aide ?</h2>

        <section class="movie-maze-helper">
            <p>Choisissez parmi les acteurs ci-dessous celui qui vous permettra d'avancer.</p>
            <p>Plusieurs réponses peuvent être possibles et une même réponse peut être utilisée plusieurs fois.</p>
            {% for actor in helpActorList %}
            <div data-tmdb-id="{{ actor.tmdbId }}" data-fullname="{{ actor.fullname|raw }}">
                <img src="{{ actor.pictureUrl|tmdbPictureUrl }}" alt="{{ actor.fullname|raw }}" />
                <span>{{ actor.fullname }}</span>
            </div>
            {% endfor %}
        </section>

    </div>

{% endblock %}
