{#
Allows to display list of actors for selection => user can select 10 actors to play maze...
Required :
- MazeItem[] actors : list of actors to select.
#}

{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="Quiz personnalisé sur la filmographie avec votre propore sélection d'acteurs ou d'actrices."/>
{% endblock %}

{% block title %}{{ 'front.maze.actor.max_path.title'|trans }}{% endblock %}

{% block body %}

    <h1>{{ 'front.maze.actor.max_path.title'|trans }}</h1>

    <div id="maze-max-path" class="maze-item-path-selection">

        <div class="card center">

            {{ 'front.maze.actor.max_path.content'|trans|raw }}

            <form id="path-selection-form" action="{{ path('fo_maze_actor_play_max_path') }}" method="POST">

                <input type="hidden" id="tmdbIds" name="tmdbIds" />

                <div class="field">
                    <label for="level">{{ 'front.maze.play.level'|trans }}</label>
                    <div class="control select-wrapper">
                        <select id="level" name="level">
                            <option value="0">{{ 'front.maze.play.level.easy'|trans }}</option>
                            <option value="1" selected="selected">{{ 'front.maze.play.level.medium'|trans }}</option>
                            <option value="2">{{ 'front.maze.play.level.hard'|trans }}</option>
                        </select>
                    </div>
                </div>

                <p class="note">{{ 'front.maze.actor.level.comment'|trans|raw }}</p>

                <div class="form-buttons">
                    <input id="selection-submit" type="submit" class="button" disabled value="{{ 'global.play'|trans }}"/>
                </div>

            </form>

        </div>

        {%
            include 'front/maze/_selection.html.twig'
            with {
                'mazeItems': actors,
                'selectionId': 'selection-wrapper',
            }
        %}

    </div>

{% endblock %}
