{#
Allows to list all users. It allows to add/edit/delete user.
Required :
- users : list of all user available (as User).
#}

{% extends "admin.html.twig" %}

{% block body %}

    <h1 class="title">Gestion des comptes utilisateurs</h1>

    <nav class="level">
        <div class="level-left">
            <span>{{ users|length }} utilisateur(s)</span>
        </div>
        <div class="level-right">
            <div>
                <a id="new-quiz-button" class="button is-primary" href="{{ path('bo_user_add') }}">Nouveau</a>
            </div>
        </div>
    </nav>

    {# Display all user found #}
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Nom complet</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {{ user.displayName }}
                </td>
                <td>
                    <a href="{{ path('bo_user_edit', { 'user': user.id }) }}">
                        <span class="icon has-text-warning button">
                            <i class="fas fa-edit"></i>
                        </span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('bo_user_delete', { 'user': user.id }) }}" onclick="return confirm('Confirmer la suppression ?');" >
                        <span class="icon has-text-danger button">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
