{#
Allows to edit quiz.
Required :
- form : FormView element based on QuizType object (i.e. quiz to edit).
#}

{% extends "admin.html.twig" %}

{% block body %}

    <h1 class="title">{{ 'back.quiz.edit.title'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_rest(form) }}
        <input type="submit" class="button is-primary" value="{{ 'global.save'|trans }}"/>
    {{ form_end(form) }}

    {# Allows to display all responses linked to quiz #}
    <div
        id="quiz-responses-wrapper"
        data-responses-url="{{ path('bo_quiz_response_list', {'quiz' : form.vars.value.id}) }}"
    >
        {% include 'back/quiz/response_list.html.twig' with {'quiz': form.vars.value} %}
    </div>

{% endblock %}
