{#
Allows to list all quiz available. It allows to add/edit/delete quiz.
Required :
- quizs : list of all quiz available (as Quiz).
#}

{% extends "admin.html.twig" %}

{% block body %}

    <h1 class="title">{{ 'back.quiz.list.title'|trans }}</h1>

    <nav class="level">
        <div class="level-left">
            <span>{{ 'back.quiz.list.count'|trans({'%count%': quizs|length}) }}</span>
        </div>
        <div class="level-right">
            <div>
                <span id="new-quiz-button" class="button is-primary">{{ 'global.new'|trans }}</span>
                <a class="button is-primary" href="{{ path('bo_quiz_statistics') }}">{{ 'back.quiz.list.show_statistics'|trans }}</a>
            </div>
        </div>
    </nav>

    {# Display all quiz found #}
    <table
        id="quiz-list"
        class="table is-striped is-hoverable is-fullwidth"
        data-reorder-url="{{ path('bo_quiz_reorder') }}"
    >
        <thead>
            <tr>
                <th>{{ 'back.quiz.list.column.name'|trans }}</th>
                <th>{{ 'back.quiz.list.column.winner'|trans }}</th>
                <th>{{ 'global.edit'|trans }}</th>
                <th>{{ 'global.delete'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for quiz in quizs %}
            <tr data-id="{{ quiz.id }}">
                <td>
                    <span class="icon">
                        <i class="fas fa-arrows-alt"></i>
                    </span>
                    {{ quiz.name }}
                </td>
                <td>
                    <a href="{{ path('bo_quiz_winner_list', { 'quiz': quiz.id }) }}">
                        <span class="icon has-text-success button">
                            <i class="fas fa-trophy"></i>
                        </span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('bo_quiz_edit', { 'quiz': quiz.id }) }}">
                        <span class="icon has-text-warning button">
                            <i class="fas fa-edit"></i>
                        </span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('bo_quiz_delete', { 'quiz': quiz.id }) }}" onclick="return confirm('{{ 'global.delete.confirm'|trans }}');" >
                        <span class="icon has-text-danger button">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="is-hidden">
        {# Form to add new quiz (displayed through popup) #}
        <form id="new-quiz-form" action="{{ path('bo_quiz_new') }}" method="POST">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input id="name" name="name" type="text" class="input" placeholder="{{ 'back.quiz.list.create_form.placeholder'|trans }}" />
                </div>
                <div class="control">
                    <input type="submit" class="button" value="{{ 'global.create'|trans }}" disabled/>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
