{#
Allows to list all responses for a quiz. It allows to edit/delete response.
Required :
- quiz : quiz we want to display responses (as Quiz).
- BuildProcess pendingProcess : pending process (building filmography or casting).
#}

<h1 class="title">{{ 'back.quiz.response.list.title'|trans }}</h1>

<nav class="level">
    <div class="level-left">
        <span>{{ 'back.quiz.response.list.count'|trans({'%count%': quiz.responses|length}) }}</span>
    </div>
    <div class="level-right">
        <div>
            <span
                id="add-quiz-response-button"
                class="button is-primary"
                data-add-response-url="{{ path('bo_quiz_response_new', {'quiz': quiz.id}) }}"
            >
                {{ 'back.quiz.response.list.add'|trans }}
            </span>
            <a
                href="{{ path('bo_quiz_response_locate', {'quiz': quiz.id}) }}"
                class="button is-primary"
            >
                {{ 'back.quiz.response.list.locate'|trans }}
            </a>
            <button
                form="link-tmdb-form"
                class="button is-primary"
                {% if pendingProcess %}disabled{% endif %}
            >
                {{ 'back.quiz.response.list.tmdb_link'|trans }}
            </button>
            <form id="link-tmdb-form" action="{{ path('bo_tmdb_build_process') }}" method="post">
                <input name="type" type="hidden" value="{{ constant('App\\Enum\\Tmdb\\ProcessTypeEnum::QUIZ_LINK') }}" />
                <input name="redirect" type="hidden" value="{{ path('bo_quiz_edit', {'quiz': quiz.id}) }}" />
                <input name="parameters" type="hidden" value="{{ [quiz.id]|json_encode }}" />
            </form>
        </div>
    </div>
</nav>

<table id="quiz-response-list" class="table is-striped is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>{{ 'back.quiz.response.list.column.name'|trans }}</th>
            <th>{{ 'back.quiz.response.list.column.tmdb_link'|trans }}</th>
            <th>{{ 'global.edit'|trans }}</th>
            <th>{{ 'global.delete'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for response in quiz.responses %}
        <tr data-id="{{ response.id }}">
            <td>{{ response.title }}</td>
            <td>
            {% if response.tmdbId %}
                <a href="https://www.themoviedb.org/movie/{{ response.tmdbId }}" target="_blank">
                    <span class="icon has-text-success button">
                        <i class="fas fa-film"></i>
                    </span>
                </a>
            {% endif %}
            </td>
            <td>
                <span
                    class="icon has-text-warning button edit-quiz-response-button"
                    data-edit-response-url="{{ path('bo_quiz_response_edit', {'quiz': quiz.id, 'response': response.id}) }}"
                >
                    <i class="fas fa-edit"></i>
                </span>
            </td>
            <td>
                <span
                    class="icon has-text-danger button delete-quiz-response-button"
                    data-delete-response-url="{{ path('bo_quiz_response_delete', {'quiz': quiz.id, 'response': response.id}) }}"
                >
                    <i class="fas fa-trash-alt"></i>
                </span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
