{#
Allows to locate reposnes of quiz (i.e. set position X and Y on picture + define size).
Required :
- quiz : quiz we want to display responses (as Quiz).
#}

{% extends "admin.html.twig" %}

{% block body %}

    <h1 class="title">{{ 'back.quiz.response.locate.title'|trans }}</h1>

    <div id="locate-responses">

        <nav class="level">

            <div class="level-left">
                <div class="field">
                    <label for="quiz-responses" class="label">{{ 'back.quiz.response.locate.response_choice'|trans({'%name%': quiz.name}) }}</label>
                    <div class="select">
                        <select id="quiz-responses" name="quiz-responses" data-location-url="{{ path('bo_quiz_response_location') }}">
                        {% for response in quiz.responses %}
                            <option value="{{ response.id }}">{{ response.title }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <span id="location-state" class="icon is-medium">
                        <i class="fas fa-crosshairs fa-2x"></i>
                    </span>
                </div>
            </div>

            <div class="level-right">
                <div class="column">
                    <button id="next-button" class="button is-primary">{{ 'global.next'|trans }}</button>
                </div>
                <div class="column">
                    <button id="validate-button" class="button is-primary" data-locate-url="{{ path('bo_quiz_locate_response') }}">{{ 'global.validate'|trans }}</button>
                    <input id="selection-position-x" type="hidden" />
                    <input id="selection-position-y" type="hidden" />
                    <input id="selection-width" type="hidden" />
                    <input id="selection-height" type="hidden" />
                </div>
            </div>

        </nav>

        <div
            id="canvas"
            data-picture-width="{{ quiz.pictureWidth }}"
            data-picture-height="{{ quiz.pictureHeight }}"
            data-picture-url="{{ quiz.pictureUrl }}"
        >
        </div>

    </div>

{% endblock %}
