<div class="burger-icon">
    <span class="is-large"><i class="fas fa-bars fa-3x"></i></span>
</div>

<nav id="menu">
    <div class="navbar-main">
        <a href="{{ path('fo_quiz') }}" class="navbar-item">{{ 'front.layout.menu.quiz'|trans }}</a>
        <a href="{{ path('fo_home') }}" class="navbar-item navbar-logo">
            <img src="{{ asset('build/images/logo.svg') }}" alt="Sitarium" />
            <span>{{ 'front.layout.menu.home'|trans }}</span>
        </a>
        <a href="{{ path('fo_other') }}" class="navbar-item">{{ 'front.layout.menu.other'|trans }}</a>
    </div>
    <div class="navbar-login">
        {% if (app.user) %}
            <a href="{{ path('fo_account_infos') }}" class="navbar-item">{{ 'front.layout.menu.account'|trans }}</a> 
            <a href="{{ path('logout') }}" class="navbar-item">{{ 'global.logout'|trans }}</a>
        {% else %}
            <a href="{{ path('login') }}" class="navbar-item">{{ 'global.login'|trans }}</a></span>
        {% endif %}
    </div>
</nav>
