<nav id="navbar">
    <div id="menu">
        <div id="menu-entry">
            <i class="fas fa-3x fa-dice"></i>
            <ul id="menu-content">
                <li class="navbar-item mobile-item">
                    <a href="{{ path('fo_home') }}">
                        <i class="fas fa-2x fa-home"></i>
                        <span>{{ 'front.layout.menu.home'|trans }}</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a href="{{ path('fo_quiz') }}">
                        <i class="fas fa-2x fa-dice-one"></i>
                        <span>{{ 'front.layout.menu.quiz'|trans }}</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a href="{{ path('fo_tagline') }}">
                        <i class="fas fa-2x fa-dice-two"></i>
                        <span>{{ 'front.layout.menu.tagline'|trans }}</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a href="{{ path('fo_maze_movie') }}">
                        <i class="fas fa-2x fa-dice-three"></i>
                        <span>{{ 'front.layout.menu.casting'|trans }}</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a href="{{ path('fo_maze_actor') }}">
                        <i class="fas fa-2x fa-dice-four"></i>
                        <span>{{ 'front.layout.menu.filmography'|trans }}</span>
                    </a>
                </li>
                {% if (app.user) %}
                    <li class="navbar-item mobile-item">
                        <a href="{{ path('fo_account_infos') }}">
                            <i class="fas fa-2x fa-user"></i>
                            <span>{{ 'front.layout.menu.account'|trans }}</span>
                        </a>
                    </li>
                    <li class="navbar-item mobile-item">
                        <a href="{{ path('logout') }}">
                            <i class="fas fa-2x fa-sign-out-alt"></i>
                            <span>{{ 'global.logout'|trans }}</span>
                        </a>
                    </li>
                {% else %}
                    <li class="navbar-item mobile-item">
                        <a href="{{ path('login') }}">
                            <i class="fas fa-2x fa-unlock-alt"></i>
                            <span>{{ 'global.login'|trans }}</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div id="logo">
        <a href="{{ path('fo_home') }}" class="navbar-item">
            <img src="{{ asset('build/images/logo.svg') }}" alt="Sitarium" />
        </a>
    </div>

    <div id="login">
        {% if (app.user) %}
            <a href="{{ path('fo_account_infos') }}" class="navbar-item">{{ 'front.layout.menu.account'|trans }}</a> 
            <a href="{{ path('logout') }}" class="navbar-item">{{ 'global.logout'|trans }}</a>
        {% else %}
            <a href="{{ path('login') }}" class="navbar-item">{{ 'global.login'|trans }}</a></span>
        {% endif %}
    </div>
</nav>
