{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="Site proposant des quiz et des jeux autour du cinéma ou des séries : acteur, filmographie, références à des objets cultes du 7ème art..." />
{% endblock %}

{% block body %}

    <div id="home" class="center">

        <h1>{{ 'front.home.title'|trans }}</h1>

        <section>
            {{ 'front.home.content'|trans|raw }}
        </section>

        <div id="quiz-selection-wrapper" class="card center">
            <a href="{{ path('fo_quiz') }}" class="quiz-selection-item">
                <span class="is-large"><i class="fas fa-3x fa-image"></i></span>
                <span>{{ 'front.home.picture'|trans }}</span>
            </a>
            <a href="{{ path('fo_tagline') }}" class="quiz-selection-item">
                <span class="is-large"><i class="fas fa-3x fa-marker"></i></span>
                <span>{{ 'front.home.tagline'|trans }}</span>
            </a>
            <a href="{{ path('fo_maze') }}" class="quiz-selection-item">
                <span class="is-large"><i class="fas fa-3x fa-code-branch"></i></span>
                <span>{{ 'front.home.maze'|trans }}</span>
            </a>
        </div>

    </div>

{% endblock %}
