{% extends "base.html.twig" %}

{% block body %}

    {% if error %}
        <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1>{{ 'front.login.form.title'|trans }}</h1>

    <form id="login-form" action="{{ path('login_check') }}" method="post" class="card center w-half">
        <div class="field">
            <label for="username">{{ 'front.login.form.login'|trans }}</label>
            <div class="control">
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
        </div>
        <div class="field">
            <label for="password">{{ 'front.login.form.password'|trans }}</label>
            <div class="control">
                <input type="password" id="password" name="_password" />
            </div>
        </div>
        <div class="form-buttons">
            <button type="submit" class="button">{{ 'global.login'|trans }}</button>
        </div>
        <p class="margin-top">{{ 'front.login.form.create_account'|trans({'%link_start%': '<a href="'~path('fo_account_new')~'">', '%link_end%': '</a>'})|raw }}</p>
        <p class="note"><a href="{{ path('fo_forgotten_password') }}">{{ 'front.login.form.forgotten_password'|trans }}</a></p>
    </form>

{% endblock %}
