{% extends "base.html.twig" %}

{% block title %}Choisissez votre quiz.{% endblock %}

{% block body %}

    <div id="other-home" class="center">

        <h1>{{ 'front.other.title'|trans }}</h1>

        {{ 'front.other.content'|trans|raw }}

        <div id="quiz-selection-wrapper" class="card center">
            <a href="{{ path('fo_tagline') }}" class="quiz-selection-item">
                <span class="is-large"><i class="fas fa-3x fa-marker"></i></span>
                <span>{{ 'front.other.tagline'|trans }}</span>
            </a>
            <a href="{{ path('fo_maze') }}" class="quiz-selection-item">
                <span class="is-large"><i class="fas fa-3x fa-code-branch"></i></span>
                <span>{{ 'front.other.maze'|trans }}</span>
            </a>
        </div>

    </div>

{% endblock %}
