{#
Allows to list all actors available. It allows to add/delete actors.
Required :
- pager : list of all actors available (as Pagerfanta).
- string value : current filter value.
- BuildProcess pendingProcess : pending process (building filmography or casting).
#}

{% extends "admin.html.twig" %}

{% block body %}

    {% include 'back/tmdb/_pending_process.html.twig' %}

    <div id="maze-item-list">

        {% embed 'back/form/_grid.html.twig' with {'pager': pager, 'title': 'back.maze.actor.list.title'|trans} %}

            {% block action %}
                <a class="button is-primary" href="{{ path('bo_maze_actor_new') }}">{{ 'global.add'|trans }}</a>
                <button
                    form="build-credits-form"
                    class="button is-primary"
                    {% if pendingProcess %}disabled{% endif %}
                >
                    {{ 'back.maze.actor.list.build_filmography'|trans }}
                </button>
                <form id="build-credits-form" action="{{ path('bo_tmdb_build_process') }}" method="post">
                    <input name="type" type="hidden" value="filmography" />
                    <input name="redirect" type="hidden" value="{{ path('bo_maze_actor_list') }}" />
                </form>
            {% endblock %}

            {% block grid_result %}

                {% embed 'back/form/_grid_result.html.twig' with {'pager': pager} %}

                    {% block grid_header %}
                        <th>{{ 'back.maze.actor.list.column.name'|trans }}</th>
                        <th>{{ 'back.maze.actor.list.column.id'|trans }}</th>
                        <th>{{ 'back.maze.actor.list.column.filmography'|trans }}</th>
                        <th>{{ 'global.detail'|trans }}</th>
                        <th>{{ 'global.delete'|trans }}</th>
                    {% endblock %}

                    {% block grid_body %}
                        {% for actor in pager.currentPageResults %}
                            <tr>
                                <td>{{ actor.fullname }}</td>
                                <td>{{ actor.tmdbId }}</td>
                                <td>
                                    {% include 'back/maze/actor/_filmography_status.html.twig' with {'status': actor.status} %}
                                </td>
                                <td>
                                    <span
                                        class="icon has-text-info button show-maze-item-detail-button"
                                        data-detail-url="{{ path('bo_maze_actor_view', { 'actor': actor.tmdbId }) }}"
                                    >
                                        <i class="fas fa-search"></i>
                                    </span>
                                </td>
                                <td>
                                    <a href="{{ path('bo_maze_actor_delete', { 'actor': actor.tmdbId }) }}" onclick="return confirm('{{ 'global.delete.confirm'|trans }}');" >
                                        <span class="icon has-text-danger button">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endblock %}

                {% endembed %}

            {% endblock %}

        {% endembed %}

    </div>

{% endblock %}
