{#
Allows to create new account.
Required :
- account : Form element based on AccountType object (i.e. user to edit).
#}

{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="robots" content="noindex" />
{% endblock %}

{% block title %}{{ 'front.forgotten_password.title'|trans }}{% endblock %}

{% block body %}

    <h1>{{ 'front.forgotten_password.title'|trans }}</h1>

    <div class="card center w-half">

        <p class="margin-bottom">{{ 'front.forgotten_password.content'|trans }}</p>

        <form action="{{ path('fo_forgotten_password') }}" method="POST">
            <div class="field">
                <label for="username">{{ 'front.forgotten_password.form.email'|trans }}</label>
                <div class="control">
                    <input type="text" id="email" name="email" value="">
                </div>
            </div>
            <div class="form-buttons">
                <input type="submit" class="button" value="{{ 'global.send'|trans }}" />
            </div>
        </form>

    </div>

{% endblock %}
