{#
Allows to customize personnal informations (for logged user).
Required :
- account : Form element based on AccountType object (i.e. user to edit).
#}

{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="robots" content="noindex" />
{% endblock %}

{% block title %}Mise à jour du compte{% endblock %}

{% block body %}

    <h1>Mon compte</h1>

    Bonjour <strong>{{ app.user.firstname }} {{ app.user.lastname }}</strong>,

    {% if (quizInProgress|length > 0) %}
        <h2>Quiz en cours</h2>
        <ul>
        {% for quiz in quizInProgress %}
            <li><a href="{{ path('fo_quiz_play', {'quiz': quiz.id}) }}">{{ quiz.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if (quizOver|length > 0) %}
        <h2>Quiz terminé(s)</h2>
        <ul>
        {% for quiz in quizOver %}
            <li><a href="{{ path('fo_quiz_play', {'quiz': quiz.id}) }}">{{ quiz.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    <p>Vous pouvez mettre à jour vos informations personnelles.</p>
    <p>NOTE : Si vous ne souhaitez pas modifier votre mot de passe, laissez les champs vides.</p>

    {{ form_start(account) }}
        {{ form_rest(account) }}
        <input type="submit" class="button" value="Enregistrer"/>
    {{ form_end(account) }}

</div>

{% endblock %}
