{#
Allows to customize personnal informations (for logged user).
Required :
- account : Form element based on AccountType object (i.e. user to edit).
#}

{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="robots" content="noindex" />
{% endblock %}

{% block title %}{{ 'front.account.update.title'|trans }}{% endblock %}

{% block body %}

    <h1>{{ 'front.account.update.title'|trans }}</h1>

    <div id="account-infos" class="center">

        <div id="account-statistics">
        {% if (quizInProgress|length > 0) %}
            <div class="card center">
                <h2>{{ 'front.account.update.quiz_in_progress'|trans }}</h2>
                <ul>
                {% for quiz in quizInProgress %}
                    <li><a href="{{ path('fo_quiz_play', {'slug': quiz.slug}) }}">{{ quiz.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if (quizOver|length > 0) %}
            <div class="card center">
                <h2>{{ 'front.account.update.quiz_over'|trans }}</h2>
                <ul>
                {% for quiz in quizOver %}
                    <li><a href="{{ path('fo_quiz_play', {'slug': quiz.slug}) }}">{{ quiz.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        </div>

        {{ form_start(account, {'attr': {'class': 'center card w-half'}}) }}
            <section>
                {{ 'front.account.update.update_content'|trans({'%name%': app.user.displayName})|raw }}
            </section>
            {{ form_rest(account) }}
            <div class="form-buttons">
                <input type="submit" class="button" value="{{ 'global.save'|trans }}"/>
            </div>
        {{ form_end(account) }}

    </div>

{% endblock %}
