{#
Allows to create new account.
Required :
- account : Form element based on AccountType object (i.e. user to edit).
#}

{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="robots" content="noindex" />
{% endblock %}

{% block title %}{{ 'front.account.create.title'|trans }}{% endblock %}

{% block body %}

    <h1>{{ 'front.account.create.title'|trans }}</h1>

    <div id="account-new" class="card center w-half">

        <p class="margin-bottom">{{ 'front.account.create.content'|trans }}</p>

        {{ form_start(account) }}
            {{ form_rest(account) }}
            <div class="form-buttons">
                <input type="submit" class="button" value="{{ 'global.save'|trans }}" />
            </div>
        {{ form_end(account) }}

    </div>

{% endblock %}
