<nav id="menu" class="navbar has-shadow is-spaced">
    <div class="container navbar-menu">
        <div class="navbar-start">
            <a href="{{ path('bo_home') }}" class="navbar-item">
                <span class="icon">
                    <i class="fas fa-home fa-2x"></i>
                </span>
            </a>
            <a href="{{ path('bo_user_list') }}" class="navbar-item">
                <span class="icon">
                    <i class="fas fa-user"></i>
                </span>
                <span>{{ 'back.layout.menu.user'|trans }}</span>
            </a>
            <a href="{{ path('bo_quiz_list') }}" class="navbar-item">
                <span class="icon">
                    <i class="fas fa-image"></i>
                </span>
                <span>{{ 'back.layout.menu.quiz'|trans }}</span>
            </a>
            <a href="{{ path('bo_maze_actor_list') }}" class="navbar-item">
                <span class="icon">
                    <i class="fas fa-users"></i>
                </span>
                <span>{{ 'back.layout.menu.actor'|trans }}</span>
            </a>
            <a href="{{ path('bo_maze_movie_list') }}" class="navbar-item">
                <span class="icon">
                    <i class="fas fa-film"></i>
                </span>
                <span>{{ 'back.layout.menu.movie'|trans }}</span>
            </a>
        </div>
        <div class="navbar-end">
            <a href="{{ path('fo_home') }}" class="navbar-item is-size-7">{{ 'back.layout.menu.back'|trans }}</a>
            <a href="{{ path('logout') }}" class="navbar-item is-size-7">{{ 'global.logout'|trans }}</a>
        </div>
    </div>
</nav>
