{% extends "admin.html.twig" %}

{% block body %}

<div id="home">

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">{{ 'back.home.card.user.title'|trans }}</p>
            <span class="card-header-icon">
                <a href="{{ path('bo_user_list') }}">
                    <span class="icon">
                        <i class="fas fa-user fa-lg"></i>
                    </span>
                </a>
            </span>
        </header>
        <div class="card-content">
            <div class="content">
                {{ 'back.home.card.user.content'|trans|raw }}
            </div>
        </div>
        <footer class="card-footer">
            <a href="{{ path('bo_user_list') }}" class="card-footer-item">{{ 'back.home.card.movie.link'|trans }}</a>
        </footer>
    </div>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">{{ 'back.home.card.quiz.title'|trans }}</p>
            <span class="card-header-icon">
                <a href="{{ path('bo_quiz_list') }}">
                    <span class="icon">
                        <i class="fas fa-image fa-lg"></i>
                    </span>
                </a>
            </span>
        </header>
        <div class="card-content">
            <div class="content">
                {{ 'back.home.card.quiz.content'|trans|raw }}
            </div>
        </div>
        <footer class="card-footer">
            <a href="{{ path('bo_quiz_list') }}" class="card-footer-item">{{ 'back.home.card.quiz.link'|trans }}</a>
        </footer>
    </div>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">{{ 'back.home.card.statistics.title'|trans }}</p>
            <span class="card-header-icon">
                <a href="{{ path('bo_quiz_statistics') }}">
                    <span class="icon">
                        <i class="fas fa-chart-bar fa-lg"></i>
                    </span>
                </a>
            </span>
        </header>
        <div class="card-content">
            <div class="content">
                {{ 'back.home.card.statistics.content'|trans|raw }}
            </div>
        </div>
        <footer class="card-footer">
            <a href="{{ path('bo_quiz_statistics') }}" class="card-footer-item">{{ 'back.home.card.statistics.link'|trans }}</a>
        </footer>
    </div>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">{{ 'back.home.card.actor.title'|trans }}</p>
            <span class="card-header-icon">
                <a href="{{ path('bo_maze_actor_list') }}">
                    <span class="icon">
                        <i class="fas fa-users fa-lg"></i>
                    </span>
                </a>
            </span>
        </header>
        <div class="card-content">
            <div class="content">
                {{ 'back.home.card.actor.content'|trans|raw }}
            </div>
        </div>
        <footer class="card-footer">
            <a href="{{ path('bo_maze_actor_list') }}" class="card-footer-item">{{ 'back.home.card.actor.link'|trans }}</a>
        </footer>
    </div>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">{{ 'back.home.card.movie.title'|trans }}</p>
            <span class="card-header-icon">
                <a href="{{ path('bo_maze_movie_list') }}">
                    <span class="icon">
                        <i class="fas fa-film fa-lg"></i>
                    </span>
                </a>
            </span>
        </header>
        <div class="card-content">
            <div class="content">
                {{ 'back.home.card.movie.content'|trans|raw }}
            </div>
        </div>
        <footer class="card-footer">
            <a href="{{ path('bo_maze_movie_list') }}" class="card-footer-item">{{ 'back.home.card.movie.link'|trans }}</a>
        </footer>
    </div>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">{{ 'back.home.card.tagline.title'|trans }}</p>
            <span class="card-header-icon">
                <a href="{{ path('bo_tagline_movie_list') }}">
                    <span class="icon">
                        <i class="fas fa-highlighter fa-lg"></i>
                    </span>
                </a>
            </span>
        </header>
        <div class="card-content">
            <div class="content">
                {{ 'back.home.card.tagline.content'|trans|raw }}
            </div>
        </div>
        <footer class="card-footer">
            <a href="{{ path('bo_tagline_movie_list') }}" class="card-footer-item">{{ 'back.home.card.tagline.link'|trans }}</a>
        </footer>
    </div>

</div>

{% endblock %}
