{#
Allows to display search result for maze items.
Required :
- mazeItems : list of maze items to display.
- addRouteName : name of route used to add maze item (Actor or Movie).
#}

{% if (mazeItems|length == 0) %}
    <p>{{ 'global.no_result_found'|trans }}</p>
{% endif %}

<div id="maze-item-result-wrapper" class="tile is-ancestor is-12">
{% for mazeItem in mazeItems %}
    <div class="tile is-2">
        <a href="{{ path(addRouteName, { 'tmdbId': mazeItem.tmdbId }) }}"
            onclick="return confirm('{{ 'global.select.confirm'|trans }}');"
            class="card"
        >
            <div class="card-image">
                <img src="{{ mazeItem.pictureUrl }}" alt="-" />
            </div>
            <div class="card-header">
                <p class="card-header-title">{{ mazeItem.displayName }}</p>
            </div>
        </a>
    </div>
{% endfor %}
</div>
